*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    /* background-color: aliceblue; */
    }

/*Estilo logo*/
header{ 
    background-color: #021637;

    /*Nav bar*/
     nav{
        display: flex;
        position: sticky;
        top:0;
        background: #208ed9;
        width: 100%;
        z-index: 100;
        float: left; 
        
        ul{
            overflow: hidden;
            list-style: none;
            margin-left: 20%;
            background: #208ed9;

            li {
                float: left;
                font-size: 15px;
                transition: 0.3s;
                
                a {
                    background: #208ed9;
                    display: block;
                    padding: 10px 20px;
                }
            }

        }
    }
}


#logoGGProd{
    /* width: auto;
    margin-bottom: 0;
    z-index: 100;
    position: relative;
    left: 45%; */
    display: flex;
    justify-content: center;
    background-color: #021637;
}


.font__navbar {
    color: #7fffd4;
    font-weight: bold ;
    font-size: larger;
    text-decoration: none;
}

header nav ul li:hover {
    /* background: #094355; */
    /* padding: 10px 20px; */
    font-size: large;
}

body{
    background-color: aliceblue;
}

/*Estilo banner de img*/

.bannerImagen{
    box-sizing: border-box;
    background-color: #021637;
    width: 100%;
    max-height: 5fr;
}

h1 {
    text-align: center;
    background: #021637;
    color: beige;

}

.logo_partner{
    width: 5%;
    float: left;
    margin: 20px;
    filter: #{"grayscale()"};
}

h2{
    width: auto;
    margin: 10px;
    font-size: x-large;
}

h3{
    width: auto;
    margin: 10px;
    font-size: larger;
}

h4 {
    width: auto;
    margin: 10px;
    font-size: large;
}

p{
    width: auto;
    margin: 10px;
    font-size: medium;
}

/*Estilo del formulario*/
form{
    width: 70%;
    padding: 15px;
    margin: 10px;

    input{
        width: 100%;
    }

    textarea{
        width: 100%;
    }

    #enviar{
        border-radius: 5px;
        color: #ffff;
        background-color: #007bff;
        border-color: #0b7dda;
    }

    #enviar:hover{
        background: #0b7dda;
    }

    h3 {
        margin-left: 0;
    }
    }


.grid-container-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-container-form-field-1{
    grid-column: 1;
    grid-row: 1;
}

.grid-container-form-field-2{
    grid-column: 2;
    grid-row: 1;
}

.grid-container-form-field-3{
    grid-column: 1 / span 2;
    grid-row: 2;
}

.grid-container-form-field-4{
    grid-column: 1 / span 2;
}


.grid-container-form-field-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-container-form-field-4_1{
    grid-column: span 1;
    grid-row: 2;
}

.grid-container-form-field-4_2{
    grid-column: span 3;
    grid-row: 2;
}

.grid-container-form-field-5{
    grid-column: 1 / span 2;
    grid-row: 4;
}

@media only screen and (max-width: 768px){
    h2 {
        font-size: large;
    }
 
    h3 {
        font-size: small;
    }

    h4 {
        font-size: smaller;
    }

    p{
        font-size: smaller;
    }
}

@media only screen and (min-width: 498px) and (max-width: 767px){
    h3 {
        font-size: medium;
    }

    h4 {
        font-size: small;
    }

    p{
        font-size: small;
    }    
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 1s;
    }

    .paragraph-grid{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        background: transparent;
        color: #ffff;
        text-align: center;
        font-size: large;
    }
}

.grid-item img:hover{
    transform: scale(2);
   
}

@media only screen and (max-width: 768px){
    .grid-item .paragraph-grid{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size:x-small;
    }
}

@media only screen and (min-width: 498px) and (max-width: 767px){
    .grid-item .paragraph-grid{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: smaller;
    }    
    
}

.services-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    }

.services-container-description{
    display: flex;
    width: 80%;
    justify-content: space-around;
}

.services-container-img{
    display: flex;
    justify-content: space-around;
    width:  100%;
    margin-bottom: 5px;
}

.services-img{
    width: 30%;
}


/* footer nav{
    background-color: #021637;
    width: 100%;
} */

footer{ 
        clear: both;
        background-color: #021637;
    nav{
        
        ul{
        /* background-color: #021637; */
        overflow: hidden;
        list-style: none;
           
            li{
               
                a {
                    /* background-color: #021637; */
                    color: #c0c0c0;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-size: small;
                }
            }
        }
    }
}

.footer__flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
}


/* footer nav ul li {
    background-color: #021637;
} */


.copyright__gg p{
    /* background-color: #021637; */
    color: #c0c0c0;
    width: 100%;
    text-align: center;
    /* float: inline-end; */
    font-size: small;
    margin: 0;
    font-size: 10px;
}